body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 450px) and (max-width: 768px)  {
  /* For mobile phones: */
  .one{
    display: block; 
  }
}
@media (min-width: 769px) and (max-width: 1568px)  {
  /* For mobile phones: */
  .one{
    display: flex;
    gap: 40px;
  }
}